@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --slate-dark: #263238;
  --teal: oklch(75.3% 0.1231 192.85);
  --yellow: #fecc2d;
  --swiper-navigation-sides-offset: 20px;
  --swiper-navigation-color: #263238;
  --swiper-navigation-top-offset: calc(50% - 80px);
}

@media (min-width: 768px) {
  :root {
    --swiper-navigation-sides-offset: 32%;
    --swiper-navigation-top-offset: calc(50% - 80px);
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);

  p:not([class*="pb-"]):not([class*="px-"]):not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.05;
  }
  .swiper-slide.swiper-slide-prev,
  .swiper-slide.swiper-slide-next {
    opacity: 0.3;
  }
  /* cursor: none !important; */
}

a,
a:hover,
a:focus {
  /* cursor: none !important; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 900;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 8px 5px 2px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--slate-dark);
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: var(--slate-dark);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
     * Spin
     */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.highlight {
  position: relative;
  font-weight: 600;
}
.highlight:after {
  content: "";
  background: var(--teal);
  transform: skew(-15deg, -1deg);
  position: absolute;
  width: 100%;
  height: 20px;
  top: 1px;
  left: 0;
  z-index: 0;
  opacity: 0.3;
}

.highlight.yellow:after {
  background: var(--yellow);
}
